body {
    text-align: center;
}

span {
    font-size: 18px;
    color: red;
}

canvas {
    background: pink;
    border-radius: 20px;
    animation-name: name1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes name1 {
    0% {
        box-shadow: 2px 2px 39px #ce2438;
    }

    20% {
        box-shadow: 2px 2px 39px #c8cf0b;
    }

    40% {
        box-shadow: 2px 2px 39px #dbaa16;
    }

    60% {
        box-shadow: 2px 2px 39px #21b8cc;
    }

    80% {
        box-shadow: 2px 2px 39px #155eb8;
    }

    100% {
        box-shadow: 2px 2px 39px #bf00ff;
    }
}